@model OcupacaoMaquinaOFC.Models.AlocacaoHorasViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>AlocacaoHoras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="QtdHoraPorMaquina" class="control-label"></label>
                <input type="number" step="0.1" placeholder="Ex: 24" asp-for="QtdHoraPorMaquina" class="form-control" />
                <span asp-validation-for="QtdHoraPorMaquina" class="text-danger"></span>
            </div>
            @if (ViewData["Maquinas"] as SelectList != null)
            {
                <div class="form-group">
                    <label asp-for="MaquinaId" class="control-label"></label>
                    <select asp-for="MaquinaId" class="form-control" asp-items='ViewData["Maquinas"] as SelectList'>
                <option value="-1">Selecione a máquina</option>
                </select>
                    <span asp-validation-for="MaquinaId" class="text-danger"></span>
                </div>
            }

            @if (ViewData["Projetos"] as SelectList != null)
            {
                <div class="form-group">
                    <label asp-for="ProjetoId" class="control-label"></label>
                    <select asp-for="ProjetoId" class="form-control" asp-items='ViewData["Projetos"] as SelectList'>
                        <!-- dando erro aqui "System.NullReferenceException: 'Object reference not set to an instance of an object.'
                        " -->
                        <option value="-1">Selecione o projeto</option>
                    </select>
                    <span asp-validation-for="ProjetoId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
        
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
