@model OcupacaoMaquinaOFC.Models.Projeto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Projeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dataInicio" class="control-label"></label>
                <input asp-for="dataInicio" class="form-control" />
                <span asp-validation-for="dataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataConclusao" class="control-label"></label>
                <input asp-for="dataConclusao" class="form-control" />
                <span asp-validation-for="dataConclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lider" class="control-label"></label>
                <input asp-for="lider" placeholder="Ex: Leon" class="form-control" />
                <span asp-validation-for="lider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
